*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: grey;
}
header{
    width: 350px;
    box-shadow: 0 2px 8px rgba(211, 191, 191, 0.89);
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 40px;
    background-color: rgba(0, 19, 0, 0.89);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid white;
}
section{
    text-align: center;
    margin:auto;
    margin-top: 30px;
    padding: 25px;
    background-color: black;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(211, 191, 191, 0.89);
    border: 2px solid white;
}
input{
    border: 5px solid white;
    margin-top: 30px;
    color: solid black;
}
span{
    color: white;
    font-style: normal;
    font-size: 15px;
    font-weight: thin;
}
p{
    background-color: white;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
button:hover {
    background: rgb(15, 206, 219);
    color: #fff;
  }
.firstcolor {
    background: lime;
    color: #fff;
 }
 .secondcolor {
    background: rgb(19, 226, 216);
    color: #000;
 }
 .visible {
   display: block;
 }
 .hide {
   display: none;
 }
button{
    margin-top: 25px;
    font-size: 17px;
    background-color: white;
    color: black;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
